.project-cards {
    height: auto;
}

.project-card {
    /* width: calc(100%/3); */
    height: 350px;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

.project-details {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
}

.project-details a {
    margin: 5px;
}

.cta-links {
    transition: all .5s ease-in-out;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

.project-card:hover .project-details {
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .2);
}

.card1 {
    animation-delay: 1s;
}

.card2 {
    animation-delay: 1.1s;
}

.card3 {
    animation-delay: 1.2s;
}

.card4 {
    animation-delay: 1.3s;
}

.card5 {
    animation-delay: 1.4s;
}

.card6 {
    animation-delay: 1.5s;
}

.card7 {
    animation-delay: 1.6s;
}

.card8 {
    animation-delay: 1.7s;
}
.card9 {
    animation-delay: 1.8s;
}
.card10 {
    animation-delay: 1.9s;
}
.card11 {
    animation-delay: 2.0s;
}
.card12 {
    animation-delay: 2.1s;
}